.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
    margin: 30px 0;
}

.postwrapper{
    padding: 10px;
  

}

.posttop{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.posttopleft{
    display: flex;
    align-items: center;
}

.postprofileimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postusername{
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px;
    font-style: bold;
}

.postdate{
    font-size: 12px;
}

.postcenter{
    margin: 20px 10px;
}


.postimg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postbottom{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.postbottomleft{
    display: flex;
    align-items: center;
}

.likeicon{
    width: 28px;
    height: 28px;
    margin-left: 8px;
    cursor: pointer;

}

.hearticon{
    width: 29px;
    height: 31px;
    margin-right: 1px;
    
    cursor: pointer;
}

.loveicon{
    width:26px;
    height: 26px;
    margin-right: 5px;
    
    cursor: pointer;
}

.postlikecounter{
    font-size: 15px;
}

.postcommenttext{
    cursor: pointer;
    border-bottom: 1px dashed gray;
}